@page "/"
@using MS.RoadFire.Business.Models
@using MS.RoadFire.Common.Helpers
@using MS.RoadFire.UI.Repositories
@using System.Net;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage


<PageTitle>Inicio - Road Fire</PageTitle>

<div class="home-background">
    <MudPaper Class="login-card" Elevation="10">
        <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-6 font-bold">
            🏍️ Bienvenido a <strong>Road Fire</strong>
        </MudText>

        <EditForm Model="@loginModel" OnValidSubmit="Login">
            <MudTextField @bind-Value="loginModel.Username"
                          Label="Ingrese su cuenta o usuario"
                          Variant="Variant.Outlined"
                          Class="mb-4 input-rounded"
                          Required="true" />

            <MudTextField @bind-Value="loginModel.Password"
                          Label="Password"
                          InputType="InputType.Password"
                          Variant="Variant.Outlined"
                          Class="mb-4 input-rounded"
                          Required="true" />

            <MudButton Variant="Variant.Filled"
                       Color="Color.Warning"
                       Class="btn-ingresar"
                       ButtonType="ButtonType.Submit">
                INGRESAR
            </MudButton>
        </EditForm>

        @if (loginError is not null)
        {
            <MudText Typo="Typo.caption" Color="Color.Error" Align="Align.Center" Class="mt-2">
                @loginError
            </MudText>
        }
    </MudPaper>
</div>

