@page "/MenuInventario"

<PageTitle>Inventario</PageTitle>

<div class="home-background">
    <MudContainer Class="pa-10 text-white text-center">
        <MudText Typo="Typo.h3" GutterBottom="true">Bienvenido</MudText>
        <MudText Typo="Typo.body1" Class="mb-8">UI Para gestion de Inventario de Road Fire.</MudText>
        <MudText Typo="Typo.body1" Class="mb-8">UI Para gestion de Inventario de Road Fire.</MudText>
    </MudContainer>
</div>

@code {

}